.hero {
    background-image: url(../img/background2.png);
    background-size: cover;
}

.container h2 {
    color: white;
}

.container h1 {
    color: white;
}

#betaI {
    margin-left: 10px;
    margin-right: 10px;
}

.form input{
    margin-top: 5px;
    width: 320px;
}

.form textarea{
    margin-top: 5px;
    width: 320px;
    height: 200px;
}

.form select{
    margin-top: 5px;
    width: 320px;
    margin-bottom: 5px;
}